*.o
*.cmi
*.cmx
*.conflicts
function
depend
diff/
frontend/Lexer.ml
frontend/Parser.ml
frontend/Parser.mli
frontend/PropertyLexer.ml
frontend/PropertyParser.ml
frontend/PropertyParser.mli
frontend/CTLPropertyLexer.ml
frontend/CTLPropertyParser.ml
frontend/CTLPropertyParser.mli
cfgfrontend/program_lexer.ml
cfgfrontend/program_parser.ml
cfgfrontend/program_parser.mli
cfgfrontend/Parser.conflicts
examples/**
_build/**
*.byte
*.native
ocamlbuild.sh
svbench/
ocamlbuild_opt.sh
_tags
.idea
results/*
*.exe
*.ipynb_checkpoints*
script/proton
script/UAutomizer-linux
results*
logs/*
regression_out/